.row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 0.75rem;
  background-color: var(--theme-elevation-50);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--style-radius-m);
}

.rowError {
  border-color: var(--theme-error-400);
}

.label {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 10ch;
  padding-top: 0.35rem;
  font-size: var(--font-size-large);
  font-weight: 500;
}

.input {
  flex: 1;
  min-width: 0;
  margin-block: -1px;
  margin-right: -1px;
}
