.bellButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--theme-text);
}

.bellButton:hover {
  color: var(--theme-elevation-500);
}

.bellIcon {
  width: 1.25rem;
  height: 1.25rem;
}
