.wrapper {
  display: flex;
  height: 100%;
  min-width: 1.25rem;
  flex-direction: column;
  gap: 0.25rem;
}

.fieldset {
  margin-inline: 0;
  flex: 1;
  border-radius: var(--style-radius-m);
}

.fieldset:focus-within {
  border-color: var(--theme-elevation-400);
}

.fieldsetError {
  border: 1px solid var(--theme-error-400);
  background-color: var(--theme-error-100);
}

.legend {
  margin-left: -0.5rem;
  padding-inline: 0.375rem;
  font-size: var(--font-size-base);
}

.errorMessage {
  font-size: var(--font-size-base);
  color: var(--theme-error-400);
}
