.editor {
  position: relative;
  min-height: 2rem;
  font-size: var(--font-size-large);
}

.menuAnchor {
  z-index: 50;
}

.contentEditable {
  outline: none;
}

.contentEditable:focus {
  outline: none;
}

.contentEditable > :first-child {
  margin-top: 0;
}

.contentEditable > :last-child {
  margin-bottom: 0;
}
