.form {
  border: 1px solid var(--theme-elevation-200);
  border-radius: 0.5rem;
  overflow: hidden;
}

.textarea {
  width: 100%;
  padding: 0.75rem;
  outline: none;
  border: none;
  color: var(--theme-text);
  background-color: transparent;
  resize: vertical;
  font-family: inherit;
  font-size: 0.875rem;
  scroll-margin-block: -200px;
}

.footer {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}

.cancelButton {
  padding: 0.125rem 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.75rem;
}

.submitButton {
  padding: 0.125rem 0.5rem;
  border-radius: 4px;
  border: none;
  background-color: var(--theme-elevation-500);
  color: var(--theme-elevation-0);
  cursor: pointer;
  font-size: 0.75rem;
}

.submitButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
