.root {
  &[data-sticky="true"] {
    position: sticky;
    top: 1rem;
    z-index: 2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &::before {
      content: "";
      position: absolute;
      bottom: calc(100% - var(--style-radius-m));
      inset-inline: -1px;
      height: calc(1rem + 1px + var(--style-radius-m));
      background-color: var(--theme-bg);
      opacity: 0.9;
    }
  }
}

.card {
  position: relative;
  z-index: 1;
  border: 1px solid var(--theme-elevation-200);
  border-radius: var(--style-radius-m);
  padding: 0.75rem 1rem;
  background-color: var(--theme-elevation-50);
}

.header {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
}

.author {
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time {
  flex-shrink: 0;
  color: var(--theme-elevation-500);
}

.content {
  font-size: 1rem;
  line-height: 1.5;
  white-space: pre-wrap;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 0.8125rem;
  color: var(--theme-elevation-500);
  margin-left: -6px;
  margin-bottom: -4px;

  &:empty {
    display: none;
  }

  > button {
    margin-block: 0;

    &:hover:not(:disabled) {
      color: var(--theme-text);
    }

    &[data-cancel="true"] {
      color: var(--theme-warning-500);

      &:hover {
        color: var(--theme-warning-400);
      }
    }
  }
}

.separator {
  line-height: 1;
  font-size: 200%;
  color: var(--theme-elevation-400);
}

.cancelReply {
  all: unset;
  cursor: pointer;
  color: var(--theme-error-500);
}

.cancelReply:hover {
  color: var(--theme-error-400);
}
