name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Lint & Format
        if: github.head_ref != 'changeset-release/main'
        run: pnpm ci:check

      - name: Build
        if: github.head_ref != 'changeset-release/main'
        run: pnpm ci:build

      - name: Test
        if: github.head_ref != 'changeset-release/main'
        run: pnpm ci:test

      - name: Generate App Token
        if: github.event_name == 'push'
        id: app-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Publish
        if: github.event_name == 'push'
        uses: changesets/action@v1
        with:
          publish: pnpm -r publish --access public
          commit: "chore(release): version packages"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
