name: Release
on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Lint & Format
        run: pnpm ci:check

      - name: Build
        run: pnpm ci:build

      - name: Typecheck
        run: pnpm ci:typecheck

      - name: Test
        run: pnpm ci:test

      - name: Create Release PR or Publish
        uses: changesets/action@v1
        with:
          publish: pnpm -r publish --access public
          commit: "chore(release): version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
